#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/rgb.h>


// / {
//     chosen {
//         zmk,physical-layout = &matrix_physical_layout;
//     };
// };
/ {

	keymap {
		compatible = "zmk,keymap";

		default_layer {
			// --------------------------------------------------------------------------------------------------------------------------------------------------------------------
			// |   ESC   |    Q    |    W    |    E    |    R    |    T    |                                          |    Y    |    U    |    I    |    O    |    P    |    \    |
			// |   TAB   |    A    |    S    |    D    |    F    |    G    |                                          |    H    |    J    |    K    |    L    |    ;    |    '    |
			// |  SHIFT  |    Z    |    X    |    C    |    V    |    B    | CTRL+A  | CTRL+C  |  |  CTRL+V |  CTRL+X |    N    |    M    |    ,    |    .    |    /    |  R CTRL |
			//                               |   GUI   |   DEL   | RETURN  |  SPACE  | ESCAPE  |  |  RETURN |  SPACE  |   TAB   |   BSPC  |  R ALT  |
			bindings = <
				&ext_power EP_TOG   &kp Q    &kp W    &kp E     &kp R     &kp T      &kp SPACE        &kp SPACE &kp Y     &kp U     &kp I     &kp O     &kp P    &ext_power EP_TOG
				&kp A    &kp A    &kp S    &kp D     &kp F     &kp G      &kp LC(C)        &kp RET   &kp H     &kp J     &kp K     &kp L     &kp SEMI &kp SQT
				&kp A &kp Z    &kp X    &kp C     &kp V     &kp B      &studio_unlock       &kp LC(V) &kp N     &kp M     &kp COMMA &kp DOT   &kp FSLH &kp RCTRL
				                                      &kp LGUI  &kp DEL    &kp RET          &kp TAB   &kp BSPC  &kp RALT
			>;

			          sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
		};
	};
};