#
#
# copyright (c) 2020 YangXing
# SPDX-License-Identifier: MIT

config BOARD_AUM_V1_LEFT
		bool "AUM wireless left"
		depends on SOC_NRF52840_QIAA
		select BOARD_AUM_LEFT

config BOARD_AUM_V1_RIGHT
		bool "AUM wireless right"
		depends on SOC_NRF52840_QIAA
		select BOARD_AUM_RIGHT
