#
# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT
#

config BOARD_AUM_LEFT
    bool
config BOARD_AUM_RIGHT
    bool 


config BOARD_ENABLE_DCDC
    bool "Enable DCDC mode"
    select SOC_DCDC_NRF52X
    default y


choice BOARD_CHARGER_CURRENT
    prompt "Charge current to supply to attached batteries"


config BOARD_CHARGER_CURRENT_40MA
    bool "40mA charge current, for battery capacity 40mAh or higher"

config BOARD_CHARGER_CURRENT_100MA
    bool "100mA charge current, for battery capacity 100mAh or higher"

config BOARD_CHARGER_CURRENT_150MA
    bool "150mA charge current, for battery capacity 150mAh or higher"

config BOARD_CHARGER_CURRENT_250MA
    bool "250mA charge current, for battery capacity 250mAh or higher"

config BOARD_CHARGER_CURRENT_350MA
    bool "350mA charge current, for battery capacity 350mAh or higher"

config BOARD_CHARGER_CURRENT_NONE
    bool "Disable charge current"

endchoice