#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        delete {
            bindings = <&kp DELETE>;
            key-positions = <16 17>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // --------------------------------------------------------------------------------------------------------------------------------------------------------------------
            // |   ESC   |    Q    |    W    |    E    |    R    |    T    |                                          |    Y    |    U    |    I    |    O    |    P    |    \    |
            // |   TAB   |    A    |    S    |    D    |    F    |    G    |                                          |    H    |    J    |    K    |    L    |    ;    |    '    |
            // |  SHIFT  |    Z    |    X    |    C    |    V    |    B    | CTRL+A  | CTRL+C  |  |  CTRL+V |  CTRL+X |    N    |    M    |    ,    |    .    |    /    |  R CTRL |
            //                               |   GUI   |   DEL   | RETURN  |  SPACE  | ESCAPE  |  |  RETURN |  SPACE  |   TAB   |   BSPC  |  R ALT  |

            bindings = <
&kp TAB           &kp Q  &kp W  &kp F  &kp P     &kp B        &kp LS(LPAR)    &kp LS(RPAR)  &kp J            &kp L     &kp U      &kp Y    &kp SEMI  &kp BSPC
&mt LCTRL ESCAPE  &kp A  &kp R  &kp S  &kp T     &kp G        &kp LBKT        &kp RBKT      &kp M            &kp N     &kp E      &kp I    &kp O     &kp SQT
&kp LEFT_SHIFT    &kp Z  &kp X  &kp C  &kp D     &kp V        &kp LS(LBRC)    &kp LS(RBRC)  &kp K            &kp H     &kp COMMA  &kp DOT  &kp FSLH  &kp RSHFT
                                       &kp LGUI  &lt 1 SPACE  &lt 2 TAB       &kp ENTER     &lt 3 BACKSPACE  &kp RALT
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN &inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        num {
            bindings = <
&trans  &kp KP_MULTIPLY  &kp N7  &kp N8  &kp N9  &kp PLUS   &trans         &trans  &trans    &trans    &trans        &trans     &trans  &trans
&trans  &kp KP_DIVIDE    &kp N4  &kp N5  &kp N6  &kp MINUS  &trans         &trans  &kp LEFT  &kp DOWN  &kp UP_ARROW  &kp RIGHT  &trans  &trans
&trans  &kp DOT          &kp N1  &kp N2  &kp N3  &kp N0     &bootloader    &trans  &trans    &trans    &trans        &trans     &trans  &trans
                                         &trans  &trans     &trans         &trans  &mo 5     &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN &inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        symbol {
            bindings = <
&trans  &trans  &kp LS(AMPS)  &kp LS(STAR)   &kp LS(LPAR)   &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp LS(DLLR)  &kp LS(PRCNT)  &kp LS(CARET)  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp LS(EXCL)  &kp LS(AT)     &kp LS(POUND)  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                                             &trans         &trans  &trans    &trans  &trans  &trans
            >;
        };

        fuction {
            bindings = <
&trans  &trans  &kp F7  &kp F8  &kp F9  &trans  &trans    &trans       &trans    &trans        &trans    &trans     &trans  &trans
&trans  &trans  &kp F4  &kp F5  &kp F6  &trans  &trans    &trans       &kp LEFT  &kp UP_ARROW  &kp DOWN  &kp RIGHT  &trans  &trans
&trans  &trans  &kp F1  &kp F2  &kp F3  &trans  &trans    &bootloader  &trans    &trans        &trans    &trans     &trans  &trans
                                &trans  &trans  &trans    &trans       &trans    &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN &inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        layer_3 {
            bindings = <
&kp TAB    &kp N1  &kp Q  &kp W  &kp E   &kp R      &kp T    &kp Y   &kp U   &kp I      &kp O    &kp P     &trans    &trans
&kp ESC    &kp N2  &kp A  &kp S  &kp D   &kp F      &kp G    &kp H   &kp J   &kp K      &kp L    &kp SEMI  &kp APOS  &trans
&kp LSHFT  &kp N3  &kp Z  &kp X  &kp C   &kp V      &kp B    &kp N   &kp M   &kp COMMA  &kp DOT  &kp FSLH  &trans    &trans
                                 &trans  &kp SPACE  &mo 1    &trans  &trans  &trans
            >;
        };

        layer_5 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &tog 4  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans  &trans
                                &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
