/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define LOWER 1
#define RAISE 2
#define ADJUST 3

/ {
    // Activate ADJUST layer by pressing raise and lower

    conditional_layers {
        compatible = "zmk,conditional-layers";

        adjust_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    macros {
        say_hi: say_hi {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp H &kp I>;
            label = "SAY_HI";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "default";
            bindings = <
&kp GRAVE  &kp N1  &kp N2        &kp N3    &kp N4     &kp N5     &kp F1       &kp F2     &kp N7     &kp N8     &kp N9     &kp N0        &kp MINUS  &kp EQUAL
&kp TAB    &kp Q   &kp W         &kp E     &kp R      &kp T      &kp F3       &kp F4     &kp Y      &kp U      &kp I      &kp O         &kp P      &kp BSLH
&kp CAPS   &kp A   &kp S         &kp D     &kp F      &kp G      &kp F5       &kp F6     &kp H      &kp J      &kp K      &kp L         &kp SEMI   &kp APOS
&kp LSHFT  &kp Z   &kp X         &kp C     &kp V      &kp B      &kp F7       &kp F8     &kp N      &kp M      &kp COMMA  &kp DOT       &kp FSLH   &kp RSHFT
                   &kp LGUI      &kp LALT  &kp LCTRL  &mo 1      &kp RET      &kp SPACE  &mo 1      &kp RCTRL  &kp RALT   &kp RGUI
                   &kp UP_ARROW  &kp LEFT  &kp DOWN   &kp RIGHT  &kp RET      &kp SPACE  &kp RIGHT  &kp DOWN   &kp LEFT   &kp UP_ARROW
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        layer_1 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp N7  &kp N8  &kp N9  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp N4  &kp N5  &kp N6  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp N1  &kp N2  &kp N3  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
